notebook/.ipynb_checkpoints/
.pytest_cache/
result/
lab/
tmp/
back_up/
.idea/
paper/
trained_models/
.venv/


deploy
example4knowledge_tracing/result_cluster
example4knowledge_tracing/result_server
example4knowledge_tracing/result_local
example4knowledge_tracing/script_cluster
example4knowledge_tracing/script_local
example4knowledge_tracing/script_server

example4cognitive_diagnosis/result_cluster
example4cognitive_diagnosis/result_server
example4cognitive_diagnosis/result_local

lib/unit_test

/example4knowledge_tracing/train/bkt.py
/settings.json
/*.ipynb
/note.md
/bug2fix.txt
/.DS_Store
/freeze.yml
/keys.json
/parse_result.py



*.pyc
*.DS_Store
**/.DS_Store
**/*_local.py
